/* Base styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222831;
    color: #EEEEEE;
}

a {
    text-decoration: none;
    color: #76ABAE;
}


h1 {
    color: #fff;
    font-size: 7vw;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.1em;
    text-transform: none;
}

.small-title {
    text-transform: uppercase;
    color: #EDB713;
    letter-spacing: 4px;
    font-size: 2vw;
    font-weight: bold;
    font-family: poppins;
}
/* Header */
header {
    background-color: #31363F;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

section {
    background-color: rgb(0, 0, 0, 0.6);
    color: #fff;  /* Assuming white color for the quote */
    height: 100vh;  /* Set height to 100vh for full viewport */
}

.quote-container {
    height: 100vh;  /* Set height to 100vh for full screen */
    padding: 20px;
}

.quote-container p {
    margin-bottom: 10px;
    font-style: italic;  /* Italicize the quote text */
    font-size: 25px;
}


#hero {
    position: fixed;  /* Make the video section fixed */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;  /* Set height to 100vh for full viewport */
    z-index: -1;  /* Move the video behind content */
}

#hero video {
    width: 100%;  /* Stretch video to cover the entire section */
    height: 100%;   /* Stretch video to cover the entire section */
    object-fit: cover;  /* Maintain aspect ratio while filling the section */
}

.quote-container {
    text-align: center;
    color: #fff;  /* Assuming white color for the quote */
    padding: 20px;
    margin: 0 auto;  /* Center the quote container horizontally */
}

.quote-container p {
    margin-bottom: 10px;
    font-style: italic;  /* Italicize the quote text */
}


.experts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  /* Responsive grid layout */
    gap: 20px;   /* Add some spacing between cards */
}

.expert-card {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);   /* Add subtle shadow */
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;  /* Rounded avatar image */
    margin-bottom: 10px;
}


.github-link {
    display: inline-block;
    margin-top: 10px;
    color: #fff;
}

.github-link i {
    font-size: 20px;
}


form {
    background-color: #222831;
    padding: 20px;
    width: 95%;  /* Stretch video to cover the entire section */
}

input, textarea {
    background-color: #31363F;
    color: #EEEEEE;
    border: 1px solid #EEEEEE;
    padding: 10px;
    margin-bottom: 10px;
    width: 92%;
    resize: vertical;
}

button {
    background-color: #76ABAE;
    color: #222831;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Footer */
footer {
    background-color: #31363F;
    color: #EEEEEE;
    text-align: center;
    padding: 10px;
}