/* Base styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222831;
    color: #EEEEEE;
}

a {
    background-color: rgb(0, 0, 0, 0.85);
    color: #fff;
    text-decoration: none;
}


h1 {
    color: #fff;
    font-size: 7vw;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.1em;
    text-transform: none;
}

h2 {
    color: #EDB713;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 1.1em;
    padding-top: 33px;
    text-align: center;
    text-transform: none;
}

.small-title {
    text-transform: uppercase;
    color: #EDB713;
    letter-spacing: 4px;
    font-size: 2vw;
    font-weight: bold;
    font-family: poppins;
}
/* Header */
header {
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 100;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    padding: 10px;
}

section {
    background-color: rgb(0, 0, 0, 0.6);
    color: #fff;  /* Assuming white color for the quote */
    min-height: 100vh;  /* Set height to 100vh for full viewport */
}

.quote-container {
    height: 100vh;  /* Set height to 100vh for full screen */
    padding: 20px;
}

.quote-container p {
    margin-bottom: 10px;
    font-style: italic;  /* Italicize the quote text */
    font-size: 25px;
}

.logo-container {
    position: absolute;
    width: 100px;
    height: 100px;
    overflow: hidden;  /* Clip overflowing content */
    border-radius: 50%;  /* Create a circle */
}

.logo-container svg {
    width: 100%;
    height: 100%;
}

.logo-container img {
    width: 100%;
}

#hero {
    position: fixed;  /* Make the video section fixed */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;  /* Set height to 100vh for full viewport */
    z-index: -1;  /* Move the video behind content */
}

#hero video {
    width: 100%;  /* Stretch video to cover the entire section */
    height: 100%;   /* Stretch video to cover the entire section */
    object-fit: cover;  /* Maintain aspect ratio while filling the section */
}

.quote-container {
    text-align: center;
    color: #fff;  /* Assuming white color for the quote */
    padding: 20px;
    margin: 0 auto;  /* Center the quote container horizontally */
}

.quote-container p {
    margin-bottom: 10px;
    font-style: italic;  /* Italicize the quote text */
}


.experts-grid {
    display: grid;
    background-color:  rgb(0, 0, 0, 0.65);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  /* Responsive grid layout */
    gap: 35px;   /* Add some spacing between cards */
}

.expert-card {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);   /* Add subtle shadow */
}

.github-link {
    display: inline-block;
    margin-top: 10px;
    color: #fff;
}

.github-link i {
    font-size: 20px;
}


form {
    background-color: #222831;
    padding: 20px;
    width: 95%;  /* Stretch video to cover the entire section */
}

input, textarea {
    background-color: #31363F;
    color: #EEEEEE;
    border: 1px solid #EEEEEE;
    padding: 10px;
    margin-bottom: 10px;
    width: 92%;
    resize: vertical;
}

button {
    background-color: #76ABAE;
    color: #222831;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Footer */
footer {
    background-color: #31363F;
    color: #EEEEEE;
    text-align: center;
    padding: 10px;
}


.expert-name {
    margin-top: 15px;
    font-size: 1.5em;
}

.avatar {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 5px solid #272133;
    margin-top: 20px;
    box-shadow: 0 10px 50px #76ABAE;
}


.draw-border {
    box-shadow: inset 0 0 0 4px #76ABAE;
    color: #58afd1;
    -webkit-transition: color 0.25s 0.0833333333s;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}

.draw-border::before,
.draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0rem;
    height: 0;
    bottom: 0;
    right: 0;
}

.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}

.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}

.draw-border:hover {
    color: #EDB713;
}

.draw-border:hover::before,
.draw-border:hover::after {
    border-color: #EDB713;
    -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.draw-border:hover::before {
    -webkit-transition-delay: 0s, 0s, 0.25s;
    transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
    -webkit-transition-delay: 0s, 0.25s, 0s;
    transition-delay: 0s, 0.25s, 0s;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 0.75em 2em;
    letter-spacing: 0.05rem;
    margin: 1em;
    width: 13rem;
}

.btn:focus {
    outline: 2px dotted #76ABAE;
}


.social-icons {
    padding: 0;
    list-style: none;
    margin: 1em;
}

.social-icons li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1em;
}

.social-icons i {
    color: #fff;
    position: absolute;
    top: 0.95em;
    left: 0.96em;
    transition: all 265ms ease-out;
}

.social-icons a {
    display: inline-block;
}

.social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #76ABAE, #31363F);
    transition: all 265ms ease-out;
}

.social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
}

.social-icons a:hover i {
    transform: scale(2.2);
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2);
    color: #76ABAE;
    background: -webkit-linear-gradient(45deg, #76ABAE, #31363F );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
}

.projcard-container {
	margin: 50px 0;
}

.projcard-container,
.projcard-container * {
    box-sizing: border-box;
}
.projcard-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding: 0 15px;
}
.projcard {
    width: 100%;
    min-height: 300px;
    max-height: 400px;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #ddd;
    font-size: 18px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.projcard:hover {
    box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
    transform: translate(0px, -3px);
}
.prjocard:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, #424242, transparent 50%);
}

.projcard:nth-child(2n) .projcard-img {
    left: initial;
    right: 0;
}
.projcard:hover .projcard-bar {
    width: 70px;
}
.projcard-awards {
    display: flex;
}
.projcard-awards > div {
    margin: 10px;
    padding: 10px;
}

.projcard:nth-child(2n) .projcard-textbox {
    left: initial;
    right: 45%;
}

.projcard-title {
    font-family: 'Voces', 'Open Sans', arial, sans-serif;
    color: #424242;
    font-size: 24px;
}

.projcard-subtitle {
    font-family: 'Voces', 'Open Sans', arial, sans-serif;
    color: #888;
}

.projcard-bar {
    left: -2px;
    width: 50px;
    height: 5px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
} 

.projcard-description {
    z-index: 10;
    font-size: 15px;
    color: #424242;
}

.projcard-innerbox {
    display: flex;
    width: auto;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #ddd;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.card-img {
    max-height: 400px;
    width: 40%;
    top: 0;
    left: 0;
    transition: transform 0.2s ease;
    object-fit: cover;
}

.projcard:hover .card-img {
    transform: rotate(1deg);
}

.projcard-textbox {
    background-color: #fff;
    padding-left: 20px;
}

.port-intro p {
    text-align: center;
    margin-bottom: 10px;
    padding: 1em;
    background-color: rgb(0, 0, 0, 0.4);
    font-style: italic;  /* Italicize the quote text */
}


.projcard-blue .projcard-bar { background-color: #0088FF; }
.projcard-blue::before { background-image: linear-gradient(-70deg, #0088FF, transparent 50%); }
.projcard-blue:nth-child(2n)::before { background-image: linear-gradient(-250deg, #0088FF, transparent 50%); }
.projcard-red .projcard-bar { background-color: #D62F1F; }
.projcard-red::before { background-image: linear-gradient(-70deg, #D62F1F, transparent 50%); }
.projcard-red:nth-child(2n)::before { background-image: linear-gradient(-250deg, #D62F1F, transparent 50%); }
.projcard-green .projcard-bar { background-color: #40BD00; }
.projcard-green::before { background-image: linear-gradient(-70deg, #40BD00, transparent 50%); }
.projcard-green:nth-child(2n)::before { background-image: linear-gradient(-250deg, #40BD00, transparent 50%); }
.projcard-yellow .projcard-bar { background-color: #F5AF41; }
.projcard-yellow::before { background-image: linear-gradient(-70deg, #F5AF41, transparent 50%); }
.projcard-yellow:nth-child(2n)::before { background-image: linear-gradient(-250deg, #F5AF41, transparent 50%); }
.projcard-orange .projcard-bar { background-color: #FF5722; }
.projcard-orange::before { background-image: linear-gradient(-70deg, #FF5722, transparent 50%); }
.projcard-orange:nth-child(2n)::before { background-image: linear-gradient(-250deg, #FF5722, transparent 50%); }
.projcard-brown .projcard-bar { background-color: #C49863; }
.projcard-brown::before { background-image: linear-gradient(-70deg, #C49863, transparent 50%); }
.projcard-brown:nth-child(2n)::before { background-image: linear-gradient(-250deg, #C49863, transparent 50%); }
.projcard-grey .projcard-bar { background-color: #424242; }
.projcard-grey::before { background-image: linear-gradient(-70deg, #424242, transparent 50%); }
.projcard-grey:nth-child(2n)::before { background-image: linear-gradient(-250deg, #424242, transparent 50%); }
.projcard-customcolor .projcard-bar { background-color: var(--projcard-color); }
.projcard-customcolor::before { background-image: linear-gradient(-70deg, var(--projcard-color), transparent 50%); }
.projcard-customcolor:nth-child(2n)::before { background-image: linear-gradient(-250deg, var(--projcard-color), transparent 50%); }
